html,
body {
    margin: 0;
    padding: 0;
    color: #333;
}

$colors: #ddd, #2ad, yellow, palevioletred, peru;

.container {
    display: flex;
    position: relative;
    margin: 100px auto 200vh;
    width: 1000px;

    .main {
        position: relative;
        width: 500px;
        // margin: 100px auto 500px;
        // margin: 0 50px;
        background: #eee;

        > div {
            height: 500px;
        }

        @for $i from 1 through length($colors) {
            .section#{$i} {
                background: nth($list: $colors, $n: $i);
            }
        }
    }

    @for $i from 1 through length($colors) {
        .right-menu-#{$i} {
            flex: 1;

            .affix-bar {
                background: nth($list: $colors, $n: $i);

                &.scroll-affix {
                    width: 100px;
                }

                ul {
                    margin: 0;
                    padding: 20px;
                    list-style-type: none;
                    li {
                        margin: 0;
                        padding: 0;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}
